# Local and Production secret variable
# Testing cache
.pytest_cache/
*.log

# virutal env and .env
venv/
.env*

# python cache files
*.pyc
webpapp/__pycache__/
frontpage/__pycache__/
project/__pycache__/