# Local and Production secret variable
# Testing cache
.pytest_cache/
*.log

# virutal env and .env
django_project/venv-django/
fastapi_service/venv-fastapi/
.env*

# python cache files
*.pyc
django_project/webpapp/__pycache__/
django_project/frontpage/__pycache__/
django_project/project/__pycache__/
django_project/account/__pycache__/

fastapi_service/__pycache__/