asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
decorator==5.2.1
Django==5.2.3
django-filter==25.1
future==1.0.0
GDAL==3.8.4
geocoder==1.38.1
gunicorn==23.0.0
idna==3.10
numpy==2.3.0
packaging==25.0
pandas==2.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
ratelim==0.1.6
requests==2.32.4
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
