{% load static %}
<div class="tab-content {% if active %}active{% endif %}" id="tab-{{ catalog_type }}">
    <!-- Date range picker form -->
    <div class="form-container">
        <div class="card">
            <!-- Filter header -->
            <div class="card-header" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="true" aria-controls="filterCollapse" style="cursor: pointer;" >
                <div class="d-flex align-items-center">
                    <h6 class="m-0" style="font-weight: 500;"> Filters Console</h6>
                    <button class="btn btn-link p-0 ms-auto" type="button" aria-label="Toggle filter form">
                        <i class="bi bi-chevron-down"></i>
                    </button>
                </div>
            </div>
            <!-- Collapsible card body -->
            <div id='filterCollapse' class="collapse show">
                <div class="card-body">
                    <form method="get" class="py-lg-3">
                        <div class="form-explorer">
                            <!-- Start date label  -->
                            <div class="form-input ">
                                <div class="filter-type"> Time Filter </div>
                                <div class="col">
                                    <div class="form-label"> Start (UTC)</div>
                                    <div class="input">
                                        {{hypo_date_filter.form.hypo_start_date}}
                                    </div>
                                </div>
                                <div class="col py-lg-3">
                                    <div class="form-label"> End (UTC)</div>
                                    <div class="input">
                                        {{hypo_date_filter.form.hypo_end_date}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Submit button  -->
                        <button class="btn btn-primary " type="submit">Apply Filter</button>
                    </form>
                    <div class="filter-clear">
                        <a href="{% url 'project:project-page' site_slug=site.slug %}">clear filters</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="table-container">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>source_id</th>
                    <th>source_latitude</th>
                    <th>source_longitude</th>
                    <th>source_depth_m</th>
                    <th>source_origin_dt</th>
                    <th>source_err_rms_s</th>
                    <th>magnitude</th>
                    <th>remarks</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- Download Option -->
    <div class="download-section py-lg-3">
        <p><i>(*) Not all fields are presented on this table</i></p>
        <p>Full hypocenter catalog in CSV file below</p>
        <a href="{% url 'project:download-hypo-catalog' site_slug=site.slug catalog_type=catalog_type %}?{{ request.GET.urlencode }}" class="btn btn-primary">
            Download CSV
        </a>
    </div>
</div>