{% load static %}
<!-- Date range picker form -->
<div class="form-container">
    <div class="card">
        <!-- Filter header -->
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="true" aria-controls="filterCollapse" style="cursor: pointer;" >
            <div class="d-flex align-items-center">
                <h6 class="m-0" style="font-weight: 500;"> Filters Console</h6>
                <button class="btn btn-link p-0 ms-auto" type="button" aria-label="Toggle filter form">
                    <i class="bi bi-chevron-down"></i>
                </button>
            </div>
        </div>
        <!-- Collapsible card body -->
        <div id='filterCollapse' class="collapse show">
            <div class="card-body">
                <form id="filter-form-picking" method="get" class="py-lg-3">
                    <div class="form-explorer">
                        <!-- Start date label  -->
                        <div class="form-input ">
                            <div class="filter-type"> Time Filter </div>
                            <div class="filter-item">
                                <label for="start_date" class="form-label"> Start (UTC)</label>
                                <div class="input">
                                    <input type="text" name="start_date", id="start_date" placeholder={{week_before_time}}/>
                                </div>
                            </div>
                            <div class="filter-item">
                                <label for="end_date" class="form-label"> End (UTC)</label>
                                <div class="input">
                                    <input type="text" name="end_date", id="end_date" placeholder={{now_time}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit button  -->
                    <button class="btn btn-primary " type="submit">Apply Filter</button>
                </form>
                <div class="filter-clear">
                    <a href="{% url 'project:project-page' site_slug=site.slug %}">clear filters</a> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div id = 'loading-spinner' class="text-center justify-content-center" style="display: none">
    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- Table -->
<div class="table-container">
    <table id="table-picking" data-api-url="{% url 'project:api-picking-table-data' site_slug=site.slug %}" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>source_id</th>
                <th>station_code</th>
                <th>p_arrival_dt</th>
                <th>p_polarity</th>
                <th>p_onset</th>
                <th>s_arrival_dt</th> 
                <th>coda_dt</th>
            </tr>
        </thead>
    </table>
</div>

<div class="download-csv py-lg-3">
    <p>Full picking catalog in CSV file below</p>
    <a href="{% url 'project:download-picking-catalog' site_slug=site.slug %}?{{ request.GET.urlencode }}" class="btn btn-primary">
        Download CSV
    </a>
</div>
