{% load static %}

<!-- Table -->
<div class="table-container">
    <table id="station-table" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>station_id</th>
                <th>station_code</th>
                <th>network_code</th>
                <th>station_lat</th>
                <th>station_lon</th>
                <th>station_elev_m</th>
            </tr>
        </thead>
        <tbody>
            {% for ev in station_table_data %}
                <tr>
                    <td>{{ ev.id }}</td>
                    <td>{{ ev.station_code }}</td>
                    <td>{{ ev.network_code }}</td>
                    <td>{{ ev.station_lat | floatformat:7 }}</td>
                    <td>{{ ev.station_lon | floatformat:7 }}</td>
                    <td>{{ ev.station_elev_m }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="download-csv py-lg-3">
    <p>Full station data in CSV file below</p>
    <a href="{% url 'project:download-station' site_slug=site.slug %}" class="btn btn-primary">
        Download CSV
    </a>
</div>
