{% extends '../base-project.html' %}
{% load static %}
{% block content %}
<section class="py-4 container">
    <!-- Station Data -->
    <div class="row py-lg-3">
        <div class="col">
            <div class="card shadow">
                <div class="card-body p-5">
                    <div class="upload-page">
                        <h4>
                            Upload Files Page for {{ site.name | upper }} {{data_type }} Data
                        </h4>
                        <br>
                        <p> Before uploading make sure your .CSV files following this data structure</p>
                        {{ data_structure }}
                    </div>
                    <form method='post' >
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_title" class="form-label"></label>
                            {{ form.title }}
                        </div>

                        <div class="mb-3">
                            <label for="id_description" class="form-label"></label>
                            {{ form.description }}
                        </div>
                        <div class="mb-3">
                            <label for="id_file" class="form-label"></label>
                            {{ form.file }}
                        </div>
                        <button type="submit" class="btn btn-primary"> Check Data Integrity </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<section>
{% endblock %}