{% extends './base-project.html' %}
{% load static %}
{% block content %}
    <section class="py-4 container">
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h4 style="font-weight: 500;">
                                {{site.name | upper}} Data Analysis
                            </h4>
                        </div>

                        <!-- Filter console -->
                        <div class="form-container">
                            <div class="card">
                                <!-- Filter header -->
                                <div class="card-header" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="true" aria-controls="filterCollapse" style="cursor: pointer;" >
                                    <div class="d-flex align-items-center">
                                        <h6 style="font-weight: 500;"> Filters Console</h6>
                                        <button class="btn btn-link p-0 ms-auto" type="button" aria-label="Toggle filter form">
                                            <i class="bi bi-chevron-down"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Collapsible card body -->
                                <div id='filterCollapse' class="collapse show">
                                    <div class="card-body">
                                        <form method="get" class="form-explorer py-lg-3">
                                            <!-- Start date label  -->
                                            <div class="form-input ">
                                                <div class="col">
                                                    <label for="starttime" class="form-label"> Start (UTC)</label>
                                                    <div class="input">
                                                        {{date_filter.form.start_date}}
                                                    </div>
                                                </div>
                                                <div class="col py-lg-3">
                                                    <label for="endtime" class="form-label"> End (UTC)</label>
                                                    <div class="input">
                                                        {{date_filter.form.end_date}}
                                                    </div>
                                                </div>
                                                <!-- Submit button  -->
                                                <button class="btn btn-primary " type="submit">Apply Filter</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>  
                                              
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats preview -->
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <div> ??? </div>
                            <h5 class="stats-headline">
                                Stations
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Events
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Phases
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- general catalog intensities and stations performance -->
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Overall Intensities
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Station Intensities
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
