{% extends './base-project.html' %}
{% load static %}
{% block content %}
    <section class="py-4 container">
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h4 style="font-weight: 500;">
                                Data Filters
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats preview -->
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Stations
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Events
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Phases
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- general catalog intensities and stations performance -->
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Overall Intensities
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h5 class="stats-headline">
                                Station Intensities
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
