{% extends './base-project.html' %}
{% load static %}
{% block content %}
    <section class="py-4 container">
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h4 style="font-weight: 500;">
                                Explore Microearthquake Catalog in PT.{{ site.name | upper }} Site Project
                            </h4>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button class="nav-link active" data-tab="tab-relocated">Relocated Catalog</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-tab="tab-initial">Initial Catalog</button>
                            </li>
                        </ul>

                        <div class="tab-contents-tab">
                            {% include 'project/partials/catalog-table.html' with catalog_type='relocated' table_data=table_relocated date_filter=date_filter_relocated download_url='download-relocated' active=True %}
                            {% include 'project/partials/catalog-table.html' with catalog_type='initial' table_data=table_initial date_filter=date_filter_initial download_url='download-initial' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}