{% extends './base-project.html' %}
{% load static %}
{% block content %}
    <section class="py-4 container">
        <div class="row py-lg-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="py-lg-3">
                            <h4 style="font-weight: 500;">
                                Explore Microearthquake Catalog in PT.{{site.name | upper}} Site Project
                            </h4>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <button  class="nav-link active">
                                    hypoDD + WCC
                                </button>
                            </li>
                            <li class="nav-item">
                                <button  class="nav-link">
                                    NonLinLoc
                                </button>
                            </li>
                        </ul>

                        <div class="tab-contents-tab">
                            <div class="tab-content active" id="tab-wcc">
                                <!-- Date range picker form -->
                                <form method="get" class="form-explorer py-lg-3">
                                    <h5> Explore events in specific date range</h5>
                                    <div class="filter-parameter">
                                        {{date_filter_wcc.form}} 
                                    </div>
                                    <button class="btn btn-primary" type = "submit">
                                        Filter
                                    </button>
                                </form> 
                                <div class="table-container">                    
                                    <table class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Latitude</th>
                                                <th>Longitude</th>
                                                <th>Depth (m)</th>
                                                <th>Origin Time</th>
                                                <th>RMS_e</th>
                                                <th>Ml Mag</th>
                                                <th>Mw Mag</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for ev in table_wcc %}
                                                <tr >
                                                    <td>{{ev.event_id}}</td>
                                                    <td>{{ev.lat | floatformat:7}}</td>
                                                    <td>{{ev.lon | floatformat:7}}</td>
                                                    <td>{{ev.depth_m | floatformat:3}}</td>
                                                    <td>{{ev.dt_origin | date:"Y-m-d H:i:s.u"}}</td>
                                                    <td>{{ev.rms_error | floatformat:3}}</td>
                                                    <td>{{ev.ml_mag |floatformat:3}}</td>
                                                    <td>{{ev.mw_mag | floatformat:3}}</td>
                                                    <td>{{ev.remarks}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="download-csv py-lg-3">
                                    <p>
                                        Or you can download the full catalog in csv file below
                                    </p>
                                    <a href="{% url 'download-wcc' site_slug=site.slug %}" class="btn btn-primary">
                                        Download full CSV
                                    </a>
                                </div>
                            </div>

                            <div class="tab-content" id="tab-nll">
                                <!-- Date range picker form -->
                                <form method="get" class="form-explorer py-lg-3">
                                    <h5> Explore events in specific date range</h5>
                                    <div class="filter-parameter">
                                        {{date_filter_nll.form}} 
                                    </div>
                                    <button class="btn btn-primary" type = "submit">
                                        Filter
                                    </button>
                                </form> 

                                <div class="table-container">                    
                                    <table class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Latitude</th>
                                                <th>Longitude</th>
                                                <th>Depth (m)</th>
                                                <th>Origin Time</th>
                                                <th>RMS_e</th>
                                                <th>Ml Mag</th>
                                                <th>Mw Mag</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for ev in table_nll %}
                                                <tr >
                                                    <td>{{ev.event_id}}</td>
                                                    <td>{{ev.lat | floatformat:7}}</td>
                                                    <td>{{ev.lon | floatformat:7}}</td>
                                                    <td>{{ev.depth_m | floatformat:3}}</td>
                                                    <td>{{ev.dt_origin | date:"Y-m-d H:i:s.u"}}</td>
                                                    <td>{{ev.rms_error | floatformat:3}}</td>
                                                    <td>{{ev.ml_mag |floatformat:3}}</td>
                                                    <td>{{ev.mw_mag | floatformat:3}}</td>
                                                    <td>{{ev.remarks}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>  
                                <div class="download-csv py-lg-3">
                                    <p>
                                        Or you can download the full catalog in csv file below
                                    </p>
                                    <a href="{% url 'download-nll' site_slug=site.slug %}" class="btn btn-primary">
                                        Download full CSV
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
{% endblock %}
