{% extends './base-project.html' %}
{% load static %}
{% block content %}
    <section class="py-4 container">
        <div class="row py-lg-3">
            <h3>Explore Microearthquake Catalog</h3>
        </div>

        <!-- Date range picker form -->
        <form method="GET" class="py-lg-3">
            <div class="row">
                <div class="col-md-4">
                    <ul class="search-input">
                        <li class="search-item">
                            <label for="dateRange"> Start Date </label>
                            <input type="text" class="form-control" id="dateRange" name="start_date" placeholder="yyyy-mm-dd hh:mm:ss">
                        </li>
                        <li class="search-item">
                            <label for="dateRangeEnd"> End Date </label>
                            <input type="text" class="form-control" id="dateRangeEnd" name="end_date" placeholder="yyyy-mm-dd hh:mm:ss">
                        </li>
                        <li class="search-button">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        
        <div class="card my-3">
            <div class="card-header">
                Enhanced hypocenter catalog (hypoDD with cross-correlation)
            </div>

            <div class="card-body">
                {{table_html_wcc | safe}}
            </div>  
        </div>

        <div class="card my-3">
            <div class="card-header">
                Initial hypocenter catalog (NonLinLoc)
            </div>

            <div class="card-body">
                {{table_html_nll | safe}}
            </div>  
        </div>
        
    </section>
    <script>
        $(document).ready(function () {
            // Initialize the date range picker with Bootstrap-datepicker
            $('#dateRange').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
            $('#dateRangeEnd').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>

{% endblock %}
