{% load static %}
<html>
<head>
    <title>Signup - MEQ Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class='row d-flex justify-content-center align-items-center'>
            <div class='col-12 col-md-8 col-lg6 col-xl-5'>
                <div class='card'>
                    <div class='card-body p-5 text-center'>
                        <div class='login-page'>
                            <h2>Sign-up</h2>
                            <p> Create a Guest account to explore</p>
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <form method="post" action="{% url 'signup' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_username" class="form-label"></label>
                                    {{ form.username }}
                                </div>
                                <div class="mb-3">
                                    <label for="id_password1" class="form-label"></label>
                                    {{ form.password1 }}
                                </div>
                                <div class="mb-3">
                                    <label for="id_password2" class="form-label"></label>
                                    {{ form.password2 }}
                                </div>
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </form>
                            <p class="mt-3"><a href="{% url 'login' %}">Already have a Guest account? Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>