{% extends './base-project.html' %}
{% block title %} Explore Catalog {% endblock %}
{% load static %}
{% block content %}
<section class="py-4 container">

    <!-- Upload page for admins -->
    {% if is_admin %}
    <div class="row justify-content-center">
        <div class="col">
            <div class="card shadow">
                <div class="card-body p-5 text-center">
                    <div class="py-lg-3">
                        <h3 style="font-weight: 500;">
                            Since you're an Admin, any update from {{ site.name | upper }} ?
                        </h3>
                        <h6>Upload the CSV file below</h6>
                        <a href="{% url 'project:upload-form' site_slug=site.slug %}" class="btn btn-primary">
                            submission form
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Earthquake Catalog -->
    <div class="row py-lg-3">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <div class="py-lg-3">
                        <h4 style="font-weight: 500;">
                            {{ site.name | upper }} Earthquake Catalog
                        </h4>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <button class="nav-link active" data-tab="tab-relocated">Relocated Catalog</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" data-tab="tab-initial">Initial Catalog</button>
                        </li>
                    </ul>
                    <div class="tab-contents-tab">
                        {% include 'project/tables/hypo-catalog-table.html' with catalog_type='relocated' active=True %}
                        {% include 'project/tables/hypo-catalog-table.html' with catalog_type='initial'  %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Picking Catalog -->
    <div class="row py-lg-3">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <div class="py-lg-3">
                        <h4 style="font-weight: 500;">
                            {{ site.name | upper }} Picking Catalog
                        </h4>
                        {% include 'project/tables/picking-catalog-table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Station Data -->
    <div class="row py-lg-3">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <div class="py-lg-3">
                        <h4 style="font-weight: 500;">
                            {{ site.name | upper }} Station Data
                        </h4>
                        {% include 'project/tables/station-table.html' with station_table_data=station_table %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Embed absUrl for API calls -->
<script defer src = "{% static 'project/js/hypo-table.js' %}" > </script>
<script defer src = "{% static 'project/js/picking-table.js' %}" > </script>
{% endblock %}