{% extends './base-project.html' %}
{% block title %} Upload Form {% endblock %}
{% load static %}
{% block content %}
<section class="py-4 container">
    <!-- Station Data -->
    <div class="row py-lg-3">
        <div class="col">
            <div class="card shadow">
                <div class="card-body p-5">
                    <div class="upload-page">
                        <div class= 'data-structure-container'>
                            <ul class="nav nav-tabs">
                                {% for tab in tabs %}
                                    <li class="nav-item">
                                        <button class="nav-link {% if tab.active %}active{% endif %}" data-tab="{{ tab.data_tab }}">{{ tab.label }}</button>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-contents-tab">
                                {% include 'project/uploads/data-structure.html' with data_type='hypo' structure_data=data_structure.hypo active=True %}
                                {% include 'project/uploads/data-structure.html' with data_type='picking' structure_data=data_structure.picking  %}
                                {% include 'project/uploads/data-structure.html' with data_type='station' structure_data=data_structure.station  %}
                            </div>
                        </div>

                        <!-- Upload Form -->
                        <h6 class='mt-5'>Fill this form for uploading a file: </h6>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        {{error}}
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form method="POST" action="{% url 'project:upload-form' site_slug=site.slug %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_title" class="form-label"></label>
                                {{ form.title }}
                            </div>
                            <div class = "from-group">
                                <label for id='id_choice' class="form-label"> Data type: </label>
                                {% for radio in form.data_type %}
                                    <div class="form-check">
                                        {{ radio.tag }} {{ radio.choice_label }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="id_description" class="form-label"></label>
                                {{ form.description }}
                            </div>
                            <div class="mb-3">
                                <label for="id_file" class="form-label"></label>
                                {{ form.file }}
                            </div>
                            <button type="submit" class="btn btn-primary"> Check Data Integrity </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>
{% endblock %}