{% extends './base-project.html' %}
{% load static %}
{% block content %}
<section class="py-4 container">
    <!-- Station Data -->
    <div class="row py-lg-3">
        <div class="col">
            <div class="card shadow">
                <div class="card-body p-5 text-center">
                    <div class="upload-page">
                        <h4>
                            Upload Files Page for {{ site.name | upper }} {{data_type }} Data
                        </h4>
                        <p> Before uploading make sure your .CSV files following this data structure</p>
                        {{ data_structure }}
                    </div>
                </div>
            </div>
        </div>
    </div>
<section>
{% endblock %}