{% extends "./base-account.html" %}
{% block title %} Password reset done {% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class='row d-flex justify-content-center align-items-center'>
        <div class='col-12 col-md-8 col-lg6 col-xl-5'>
            <div class='card'>
                <div class='card-body p-5 text-center'>
                    <div class='login-page'>
                        <h2>Password Reset Sent</h2>
                        <p>Check your email for a reset link.</p>
                        <a href="{% url 'account:login' %}" class="btn btn-primary">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}