{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup Success - MEQ Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class='row d-flex justify-content-center align-items-center'>
            <div class='col-12 col-md-8 col-lg6 col-xl-5'>
                <div class='card'>
                    <div class='card-body p-5 text-center'>
                        <div class='login-page'>
                            <h2>Signup Successful</h2>
                            <p>Please check your email to verify your account.</p>
                            <a href="{% url 'account:login' %}" class="btn btn-primary">Go to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>